@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poiret+One&family=VT323&display=swap');


.digital-clock {
  margin: 25px;
  background-image: url("https://cdn6.aptoide.com/imgs/d/c/e/dcee7acc1c054c29e57486293d4bc629_screen.png");
  border: 25px solid black; 
  margin: 50px;
  

  h2{
    font-family: 'Poiret One', cursive;
    font-size: 4rem;
    margin: 10px;
  }
  
}
